include ../partials/head.pug
body
  header
    nav
      h1 profile
  main.main
    img.pimage(src='../static/images/ark.jpeg') 
    
          
  include ../partials/footer.pug



      
        
          
