doctype html
html(lang="en")
  include head
  body
    include nav
    .wrap
      .search
        input.searchBar(type='text' placeholder='What are you looking for?')
        button.searchButton(type='submit')
          i.fa.fa-search
    section
      article
        header
          h2 League of Legends
        p This is some text 
      article
        header
          h2 Apex Legends
        p This is some text
      article
        header
          h2 Fortnite
        p This is some text
      article
        header
          h2 Minecraft
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      article
        header
          h2 Fifa 19
        p This is some text
      
        
          
