include head
body
  include nav
  include search
  section
    form(action='#')
      ul.checkboxen
        li
          input#checkthis1(type='checkbox')
          label(for='checkthis1')
            img(src='../static/images/league_of_legends.jpg')
        li
          input#checkthis2(type='checkbox')
          label(for='checkthis2')
            img(src='../static/images/apex_legends.jpg')
        li
          input#checkthis3(type='checkbox' checked='checked')
          label(for='checkthis3')
            img(src='../static/images/fortnite.jpg')
        li
          input#checkthis4(type='checkbox')
          label(for='checkthis4')
            img(src='../static/images/rocket_league.jpg')
        li
          input#checkthis5(type='checkbox')
          label(for='checkthis5')
            img(src='../static/images/call_of_duty.jpeg')
        li
          input#checkthis6(type='checkbox')
          label(for='checkthis6')
            img(src='../static/images/minecraft.jpeg')
        li
          input#checkthis7(type='checkbox')
          label(for='checkthis7')
            img(src='../static/images/rainbow-six.png') 
        li
          input#checkthis8(type='checkbox')
          label(for='checkthis8')
            img(src='../static/images/destiny.jpeg') 
        li
          input#checkthis9(type='checkbox')
          label(for='checkthis9')
            img(src='../static/images/gta_v.jpg') 
        li
          input#checkthis10(type='checkbox')
          label(for='checkthis10')
            img(src='../static/images/ark.jpeg') 
        li
          input#checkthis11(type='checkbox')
          label(for='checkthis11')
            img(src='../static/images/red_dead_redemtion.jpg')  
        li
          input#checkthis12(type='checkbox')
          label(for='checkthis12')
            img(src='../static/images/pubg.jpeg')           

      
        
          
