include ../partials/head.pug
meta(http-equiv='refresh' content='3;url=/profile')
body
  header
    nav
      h1 Games added!
  main
    section
      block content
        if data.gameTags
          if typeof data.gameTags === 'object'
            each game in data.gameTags
              p.test Game: #{game}
              //- Trimming white spaces from game data thats retrieved
              //- Converting a string to lowercase

              //- Searches for the string and then after that returns a new string where the,
              //- specified values are replaced
              img(src='../static/images/' + game.trim().toLowerCase().replace('-', '_') + '.jpeg')
          else
            //- gets the data from data.js
            p Game: #{data.gameTags}
            img(src='../static/images/' + data.gameTags.replace('-', '_') + '.jpeg')
        else 
          p.error No Games Selected
      .help2
          
  include ../partials/footer.pug



      
        
          
