include ../partials/head.pug
body
  header
    nav
      h1 GameMate
  main
    section.viewport
      a.account(href="/login") Login
  include ../partials/footer.pug
        
      
        
          
