input.searchBar(type='text' placeholder='Genres, Specific game, Names?')
ul.tags
    li
        a.tag(href='#') Shooter
    li
        a.tag(href='#') Horror
    li
        a.tag(href='#') Adventure
    li
        a.tag(href='#') Strategy
    li
        a.tag(href='#') Simulation
    li

.line